<div class="px-8 max-w-10xl">

    <div class="flex flex-col justify-end my-6 items-center">
        <img *ngIf="event.imagePath" ngSrc="/backendimages/{{currentimage}}" [alt]="event.name"
             class="max-w-screen-lg" height="720" width="1080"/>
        <img *ngIf="!event.imagePath" src="../../../assets/stock.jpg" alt="No image was uploaded for this event."
             class="max-w-screen-lg"/>
        <div
            class="flex justify-center pb-5 absolute w-full max-w-screen-lg bg-gradient-to-b from-transparent to-light-background">
            <div
                class="px-6 mt-6 text-4xl font-extrabold leading-none tracking-tight text-light-secondary">
                {{event.name}}
            </div>
        </div>
    </div>
    <div class="flex m-auto justify-center my-6 items-center max-w-screen-lg">
        <div class="flex justify-center my-6">
            <div class="mb-6 text-lg font-normal text-light-secondary">
                {{event.description}}
            </div>
        </div>
    </div>
    <div class="flex flex-col px-6">
        <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
            <b> Venue: </b> {{event.venue}}
        </div>
        <div class="flex flex-wrap box-border">
            <div class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Event starts at
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.startDateTime | date:'medium' }}
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Event ends at
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.endDatetime | date:'medium' }}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap box-border">
            <div class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Event entrance begins
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.entranceEndTime | date:'medium' }}
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Event entrance ends
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.entranceStartTime | date:'medium' }}
                </div>
            </div>
        </div>
        <div class="flex flex-wrap box-border">
            <div class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Registration ends at
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.registrationEndTime | date:'medium' }}
                </div>
            </div>
            <div *ngIf="event.organizers[0]" class="w-full md:w-1/2">
                <div class="mb-6 text-lg font-bold text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    Organizer
                </div>
                <div class="mb-6 text-lg font-normal text-gray-500 lg:text-xl sm:px-16 xl:px-48">
                    {{ event.organizers[0].lastName + ' ' + event.organizers[0].firstName }}
                </div>
            </div>
        </div>
    </div>
    <div class="flex px-6 justify-center">
        <div *ngIf="message != undefined && !success"
             class="my-6 w-1/2 border border-red-400 text-red px-4 py-3 rounded border-red relative"
             role="alert">
            <span class="inline-block">{{message}}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg (click)="removeMessage()" class="fill-red h-6 w-6" role="button"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                    <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
        <div *ngIf="message != undefined && success"
             class="my-6 w-1/2 border text-green px-4 py-3 rounded border-green relative"
             role="alert">
            <span class="inline-block">{{message}}</span>
            <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                <svg (click)="removeMessage()" class="fill-green h-6 w-6" role="button"
                     xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title>
                    <path
                        d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
            </span>
        </div>
    </div>
    <div class="flex px-6 justify-around my-6">
        <a (click)="apply()"
           class="cursor-pointer focus:outline-none text-light-secondary bg-light-primary focus:ring-4 focus:ring-red font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2">
            Apply
        </a>
        <a *ngIf="hasApplied()" (click)="declineApplication()"
           class="cursor-pointer focus:outline-none text-light-secondary bg-pastel focus:ring-4 focus:ring-red rounded-lg px-5 py-2.5 mr-2 mb-2">
            Decline application
        </a>
        <a *ngIf="!isAbleToDelete()" (click)="deleteEvent(event.id!!)"
           class="cursor-pointer focus:outline-none text-light-secondary bg-red focus:ring-4 focus:ring-red rounded-lg px-5 py-2.5 mr-2 mb-2">
            Delete event
        </a>
    </div>


    <div class="flex px-6 justify-center">
        <div class="flex justify-center">
            <div class="mb-6 text-lg font-bold text-gray-500 mt-10 lg:text-xl">
                Applicants
            </div>
        </div>
    </div>
    <div class="flex flex-wrap px-6 box-border justify-center">
            <div *ngFor="let user of event.attendees" class="mx-5 mb-5 w-1/5">
                <app-user [user]="user"></app-user>
            </div>
    </div>
</div>
