<div class="bg-light-secondary text-light-primary max-w-sm rounded overflow-hidden shadow-lg
     transition-transform transform hover:scale-105 cursor-pointer justify-center">
    <!-- <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains"> -->
    <div class="px-6 py-4">
        <div class="font-bold text-xl mb-2">
            {{user.firstName}} {{user.lastName}} ({{user.email}})
        </div>
        <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam at consectetur dignissimos error
            laboriosam nihil optio possimus praesentium repudiandae tenetur. Accusamus aspernatur cum est fugit incidunt
            maiores perferendis porro sunt.
        </p>
    </div>
    <div class="px-6 pt-4 pb-2">
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{user.team}}</span>
        <span
            class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">{{user.company}}</span>
    </div>
</div>
